# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/a1/exploit
/a1/stack
/a1/shell
/a1/call_shellcode
/a1/shell_asm
/a1/badfile
.*.swp
report.pdf
